*{
    padding: 0;
    margin: 0;
    /* background-color: rgb(247, 246, 227); */
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 250, 188);
    padding: 20px 50px;
}
.logo p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: rgb(239, 142, 14);
  background-color: rgb(249, 245, 191);
}
.nav-link{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    margin: 5px;
    font-weight: 500;
    color: #000;
}
.grid-container{
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: auto auto; */
    padding: 50px;
    background-color: #000;
}
.grid{
    display: grid;
    justify-content: left;
    align-items: center;
 
   
}
.grid img{
    border-radius: 30px;
    box-shadow: 2px 3px 4px #000;
}
.job{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
   color: white;
}
.sologan{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: rgb(241, 152, 34);
}